.ItemListContainer{
    color: rgb(124, 124, 124);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-top: 1em;
}

.loader {
  margin-top: 10px;
  display: inline-block;
  transform: translateZ(1px);
  color: red;
}
.loader:after {
  content: '';
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 8px;
  border-radius: 50%;
  background: rgb(255, 0, 0);
  animation: coin-flip 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes coin-flip {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}